/* Tablet */

@media (min-width: 768px) {
  .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
