/* Tablet */
@media (min-width: 768px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .card-container > :nth-last-child(-n + 1) {
    grid-column: 1 / -1; /* Make the last card full width */
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
